@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        display: flex;
        height: 735px;
        flex-direction: column;
        align-items: center;
    }

    .top-header {
        padding-top: 238px;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .top-description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-bottom: 32px;
    }

    .games {
        grid-template-columns: repeat(4, 1fr);
        height: 965px;
        padding-bottom: 128px;

    }

    .game-seasons {
        height: 653px;
    }

    .seasons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;
    }

    .seasons-header {
        padding-top: 51px;
        font-size: 32px;
        line-height: 39px;
    }

    .seasons-descripton {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    
    .seasons-image {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-bottom: 85px;
    }
}